*{
margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background: black;
 
  
} 
body::-webkit-scrollbar{
  
 display:none;
  
} .container{
  position:relative;
    height: 100vh;
    
  
}
.bachground{
  position:fixed;
z-index: 1;
  top: -4vmax;
 
  
 
}
.row{
  position:relative;
  display:inline-flex;
  margin-top: -32px;
  margin-left: -50px;
  z-index: 1;
}
.row:nth-child(even){
 
  margin-left: 2px;
  
}
.hexagon{
  background-color: brown;
 position:relative;
  width:100px;
  height:110px;
  margin: 2px;
  transition: 2s;
  background-color: #111;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 51% 100%, 0 75%, 0 25%);
  z-index: 1;
  top:2vmax;
}.hexagon::before{
  position:relative;
  top: 0;
  height:100%;
  width: 50%;
  pointer-events: none;

}#light{
  position:fixed;
  top:0;
  left: 0;
  width: 100px;
  height: 100px;
  background:#0f0;
  transform: translate(-50%,-50%);
  animation: cursor-animation 4s linear infinite;
 
  
}
@keyframes cursor-animation{
  0%{
    filter:hue-rotate(0deg) blur(50px);
  }
  100%{
    filter: hue-rotate(360deg)blur(50px)
  }
  }
  .heading{
    position:absolute;
    font-size: 50px;
    background-image: url(headingimage.jpg);
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index:2;
    left: 24vmax;
   
 }
 .info{
  position:absolute;
  background-color:rgba(255,255,255,.1);
  border:2px solid rgba(255,255,255,.2);
  backdrop-filter: blur(2px);
  width: 64vmax;
  height:22vmax;
  top:8vmax;
  left:10vmax;
  border-radius: 10px;
  cursor: pointer;
  transform-style: preserve-3d;
  z-index: 2;
 }
  .info .number{
    position: relative;
    font-size:4vmax;
    left:35%;
    top: 2%;
    text-transform: uppercase;
    color: #0f0;
   
  }
  .infoall{
    color: rgb(153, 31, 31);
    position:relative;
    font-size:2vmax;
    display: flex;
    padding: 2%;
    left:1%;
    top: 5%;
    opacity: 0.5;
    transform-style: preserve-3d;
    z-index: 2;
    
  }
  .info:hover  .infoall {
    transform:perspective(1000px) translateZ(40px);
    opacity: 1;
    
  }
  /* .info .infoall::before{
 position:absolute;
 color:pink;
 text-shadow:black;
  } */
  /* .info1{
  position: relative;
  color: aliceblue;  
  font-style: italic;
  left: 2%;
  }
  .info1 h5{
    padding: 2%;
  }
  .info2 h5{
    padding: 2%;
  }
  .info2{
    color: aliceblue;  
    font-style: italic;
    position: relative;
    left: 35%;
  }  */
  .image img{
    top: 8vmax;
    position:absolute;
    width: 20.9vmax;
    height:24vmax;
    z-index: 3;
    transform: 0.5s;
    background-color:transparent;
   border-radius:2.5vmax;
   -webkit-box-reflect: below 2px linear-gradient(transparent,transparent,#0004);
   box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
  .image:hover img{
    opacity: 0.1;
    transform:translate3d(0%,-50px,100px);
  }
  .pi{
  top: 8vmax;
  left: 2vmax;
  width: 18.8vmax;
  height: 22vmax;
  z-index:2;
  position:absolute;
  transition: 0.5s;
   }
  .pipi:hover .pi{
    opacity: 1;
    transform: translate3d(-5%,8%,670px);
  }
  .pipi{
   position:absolute;
   left: 75vmax;
   top:-1vmax;
  }
  .products{
   position: relative;
   padding-top:1% ; 
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, auto));
   flex-direction:column;
   top: 50%;
   }
  .products .pop{
   position: relative;
   top: 50%;
   margin-top:0.5%;
   margin-left: 1%;
   z-index: 2;
   background-color:rgba(255,255,255,.1);
   border:2px solid rgba(255,255,255,.2);
   backdrop-filter: blur(2px);
   border-radius: 10px;
   cursor: pointer;
   transform-style: preserve-3d;
   
   
  }
 
  .products .pop:nth-child(1){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    
  }
  .products .pop:nth-child(2){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(3){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(4){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
        
      }
  .products .pop:nth-child(5){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(6){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(7){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(8){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(9){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);  
    }
  .products .pop:nth-child(10){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(11){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  
  .products .pop:nth-child(12){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(13){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(14){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }      
  .products .pop:nth-child(15){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(16){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(17){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(18){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(19){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(20){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(21){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(22){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(23){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .products .pop:nth-child(24){
    padding-left:3%;
    --line-height: 1.5;
    --lines-to-show: 5;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
    --max-lines:6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    }
  .pop p{
  color:rgb(248, 245, 245);

 position:relative;
   }
  .data{
    margin-top:-5.5%;
  }
.box{
top: 5%;
 margin-left:87%;
width: 10%;


}
  
  
    
 
  
 
  
  



  

